    .header>.cabeca  {  
    justify-content:center;
    width: 100%;
    }

    h1 {
    font-family: 'Revalia', cursive;
    color: #2e0845;
    text-align: center;
    font-size: 40px !important;
    }

    .imprimir {
    padding-left: 100px;
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    }

    .box {
    width: 200px;
    height: 200px;
    margin-right: 50px;
    margin-bottom: 30px;
    border: 20px solid pink;
    border-top-width: 18px;
    border-bottom-width: 45px;
    transition: transform 0.35s ease-in-out;
    }

    .box:hover {
    transform: scale(1.1);
    }

    .box img {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    opacity: 0.80; 
    }

    .box img:hover {
    opacity: 1;
    }

    .box a { 
    display: flex;
    padding-top: 12px;
    padding-bottom: 22px;
    padding-left: 60px;
    font-family: 'Revalia', cursive;
    color: #2e0845;
    text-decoration:none;
    font-size: 12px;
    transition: transform 0.35s ease-in-out;
    }

    a:hover {
    text-decoration:none;
    transform: scale(1.1);
    }

    .semNada {
    padding-left: 20px;
    color: #2e0845;
    font-family: 'Revalia', cursive;
    font-size: 13px;
    }

    .semNada>a {
    text-decoration: none;
    color: #2e0845;
    font-family: 'Revalia', cursive;
    font-size: 14px;
    padding-left: 35px;
    }

    .add {
    color: #2e0845;
    font-family: 'Revalia', cursive;
    font-size: 13px;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 18px;
    }

    .add>a {
    color: #2e0845;
    font-family: 'Revalia', cursive;
    font-size: 13px;
    padding-left: 1px;
    }